<html>
<head>
 <title>Unacknowledged Problems - <tmpl_var name=current_time> (<tmpl_var name=username>)</title>
 <tmpl_include name='/u01/app/ack/www/tmpl/ack_css.tmpl'>
</head>
<body>
<p class='error'>Error: Unauthorized user <tmpl_var name=username></p>
<p class='info'>Only authorized users may use this tool.  If you believe you should have access to this tool, you may plead your case by contacting the <a href='mailto:sysadmin@tomax.com'>Tomax Hosting SysAdmin Team</a></p>
</body>
</html>
