<html>
<head>
 <title>(Additional Information)</title>
 <tmpl_include name='/u01/app/ack/www/tmpl/ack_css.tmpl'>
</head>
<body>
<form>
<p class='info'>Additional Info:<tmpl_var name=long_output></p>
<p align=center><input type="button" value="Close" onClick="window.close()"></p>
</form>
</body>
</html>
