<tmpl_include name = "../tmpl/header.tmpl">

<div id="nav">
	<tmpl_if name="ADMIN">
		<a class="button" href='subnet?action=detailnew'>Add New Subnet</a>
		<a class="button" href="iptype">IP Address Type Maint</a>
	</tmpl_if>
</div>

<div id="subtitle">
	<h1><tmpl_var name="subtitle"></h1>
	<a class="button" href='subnet?action=detailnew'>Add New Subnet</a>
</div>

<div id="content">
	<h2>
		<a href='subnet?action=detail&id=<tmpl_var name="id">'>
			<tmpl_var name="net">
		</a>
		/ <tmpl_var name="mask"> [<tmpl_var name="comment">]
	</h2>
	<table>
	<thead>
	<tr>
	    <th>IP</th>
	    <th>Comment</th>
	    <th>Item</th>
	</tr>
	</thead>
	<tmpl_loop name="addrloop">
	<tr <tmpl_if name="__odd__">class="altrow"</tmpl_if>>
	    <td><a href='ipaddr?action=detail&id=<tmpl_var name="ipaddrid">'><tmpl_var name="ipaddr"></a></td>
	    <td><tmpl_var name="ipaddrcomment"></td>
	    <td class="nopad"><a title="Delete the IP record." class="button" href="#" onclick="return del_post( 'addr', 'action=del&id=<tmpl_var name='ipaddrid'>', <tmpl_var name='ipaddr'>' );">del</a></td>
	</tr>
	</tmpl_loop>
	</table>
</div>

<tmpl_include name = "../tmpl/footer.tmpl">
