<tmpl_include name = "../tmpl/header.tmpl">

<div class="nav">
	<table>
	<tr>
		<td><a class="button" href="main">Placeholder 1</a></td>
		<td><a class="button" href="main">Placeholder 2</a></td>
	</tr>
	</table>
</div>


<div class="subtitle">
	<h1><tmpl_var name="subtitle"></h1>
</div>

<div class="content">
	<h1>COMING SOON ...</h1>
</div>

<tmpl_include name = "../tmpl/footer.tmpl">
