/**************
 * New Styles *
 **************/

/* DEVELOPMENT STYLES */
.info{
	display: none;
}
/* END DEVELOPMENT STYLES */

*{
	font-family: Tahoma, Arial;
}

body{
	background: #CCC;
	height: 100%;
}

input[type="submit"]{
	font-size: 1.3em;
	display: block;
	width: 100%;
	-webkit-border-radius: 4px;
	border: 1px solid #737272;
	text-shadow: rgba(0,0,0, 0.4) 0px -1px 0;
	text-align: center;
	color:#FFF;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#B3B3B3), to(#808080));
}

#error{
	text-align: center;
	margin-top: 10px;
}

/* Login Form */

#login-form{
	margin-bottom: 32px;
}

#login-form > ul{
	-webkit-border-radius: 4px;
	background-color: white;
	border: 1px solid #407899;
	margin: 10px 10px 20px;
}
#login-form > ul li{
	border-top: 1px solid #407899;
	background-color: transparent;
}
#login-form > ul li:first-child{
	border-top: 0 none;
}

/* END Login Form */

/* Toolbar Styles */

.toolbar{
	/*background: #407899 url('img/toolbar_shade.png') top left repeat-x;*/
	background: -webkit-gradient(linear, 0% 0%, 0% 50%, from(#5793AD), to(#2C647C));
	border-bottom: 1px solid #000;
	-webkit-box-sizing: border-box;
	padding: 0;
	height: 35px;
	position: relative;
	top: 0;
	width: 100%;
	vertical-align: middle;
}

.toolbar > h1 {
	color: #FFF;
/*	font-family: Arial; */
	position: absolute;
	overflow: hidden;
	left: 50%;
	top: 5px;
	line-height: 1em;
	margin: 3px 0 0 -75px;
	height: 30px;
	font-size: 16px;
	width: 150px;
	font-weight: bold;
	text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* END Toolbar Styles */

/* Infobar Styles */

.info {
	/*background: #000 url('img/toolbar_shade.png') top left repeat-x;*/
	background: -webkit-gradient(linear, 0% 0%, 0% 50%, from(#BFBEBE), to(#323232));
	border-top: 1px solid #323232;
	color: #FFF;
	font-weight: bold;
	padding: 3px 0;
	text-align: center;
	text-shadow: rgba(255,255,255,.8) 0 1px 0;
	
	width: 100%;
	height: 22px;
	/*position: absolute;
	bottom: 0;*/
}

.mini-logo{
	background: transparent url('img/mini_logo.png') center center no-repeat;
	height: 22px;
	margin: auto;
	width: 70px;
}

/* END Infobar Styles */

/* Rounded List */

.rounded{
	color: black;
	background: #FFF;
	font: bold 17px Helvetica;
	padding: 0;
	margin: 15px 10px 17px 10px;
	-webkit-border-radius: 4px;
}

.rounded li{
	border-bottom: 1px solid #CCC;
	list-style-type: none;
	padding: 10px 20px 10px 10px;
	
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#E8E8E8));
	/*background: #E9E9E9 url('img/toolbar_shade.png') top left repeat-x;*/
}

.rounded li:last-child{
	border-bottom: 0 none;
}

/* when you have a first LI item on any list */

.rounded li:first-child, .rounded li:first-child a{
	border-top: 0;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
}

.rounded li:last-child, .rounded li:last-child a{
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
}

/* universal arrows */

.rounded li.arrow a{
	background-image: url('img/chevron.png');
	background-position: right center;
	background-repeat: no-repeat;
	width: 100%;
}

.rounded li.stat-ok a{
	background-image: url('img/button_arrow_green.png');
}
.rounded li.stat-warn a{
	background-image: url('img/button_arrow_red.png');
}
.rounded li.stat-crit a{
	background-image: url('img/button_arrow_red.png');
}


/* universal links on list */

.rounded li a, .rounded li.img a + a {
	color: black;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	padding: 12px 10px 12px 10px;
	margin: -10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* END Rounded List */






/**************
 * Old Styles *
 **************/

/* Form Styles */

ul.form li {
    padding: 7px 10px;
}

ul.form li.error {
    border: 2px solid red;
}

ul.form li.error + li.error {
    border-top: 0;
}

ul.form li:hover {
    background: #fff;
}

ul li input[type="text"], ul li input[type="password"], ul li textarea, ul li select {
    color: #777;
    background-color: #fff;
    border: 0;
    font: normal 17px Helvetica;
    padding: 0;
    display: inline-block;
    margin-left: 0px;
    width: 100%;
    -webkit-appearance: textarea;
}

ul li textarea {
    height: 120px;
    padding: 0;
    text-indent: -2px;
}

ul li select {
    text-indent: 0px;
    background: transparent url('img/chevron.png') no-repeat 103% 3px;
    -webkit-appearance: textfield;
    margin-left: -6px;
    width: 104%;
}

ul li input[type="checkbox"], ul li input[type="radio"] {
    margin: 0;
    color: rgb(50,79,133);
    padding: 10px 10px;
}

ul li input[type="checkbox"]:after, ul li input[type="radio"]:after {
    content: attr(title);
    font: 17px Helvetica;
    display: block;
    width: 246px;
    margin: -12px 0 0 17px;
}

/* END Form Styles */





/* Custom Styles */
#about{
	min-height: 410px;
}
#about .toolbar{
	
}
#about-logo{
	width: 60px;
	height: 60px;
	margin: 40px auto 22px;
}
#about-text{
	text-align: center;
}

#hPortal > div,#service > div{
	display: none;
}
.amAlive, #service{
	display: block !important;
}

.drop-info{
	background: #E1F2FB !important;
}

.back{
	border: 1px solid #1E5063;
	-webkit-border-radius: 4px;
	color: white;
	padding: 4px;
	display: inline;
	float: left;
	vertical-align: middle;
	margin: 4px 0 0 6px;
	font-size: .8em;
	line-height: 1.3em;
	background: -webkit-gradient(linear, 0% 0%, 0% 50%, from(#407898), to(#174859));
}

.button{
	border: 1px solid #1E5063;
	-webkit-border-radius: 4px;
	color: white;
	padding: 4px;
	display: inline;
	float: right;
	vertical-align: middle;
	margin: 4px 6px 0 0;
	font-size: .8em;
	line-height: 1.3em;
	background: -webkit-gradient(linear, 0% 0%, 0% 50%, from(#407898), to(#174859));
}