<tmpl_include name = "../tmpl/header.tmpl">

<div class="nav">
</div>

<div class="subtitle">
	<h1><tmpl_var name="subtitle"></h1>
</div>

<div class="content">
	<p>Unable to authenticate user <tmpl_var name="user">.</p>
	<p>Contact SysAdmin team for help.</p>
</div>

<tmpl_include name = "../tmpl/footer.tmpl">
