<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">

<head>
<title>Tomax SA Ops: <tmpl_var name='subtitle'></title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<link rel="stylesheet" type="text/css" href="/commonhtml/css/ops.css" />
	<link rel="stylesheet" type="text/css" href="/commonhtml/css/report.css" />
 	<link rel="stylesheet" type="text/css" href="/commonhtml/css/tabmenu.css" />
	<script src="/commonhtml/js/ops.js"></script>
</head>

<body>
<div id="reportpage">

<tmpl_var name="tabmenu">
	
<div id="reportsubpage">
